# Define environment in this dir only with direnv.
# On first usage enter: direnv allow .
# man direnv for more infos
# and https://direnv.net/

export BUILD_DIR=${PWD}/build
export STAGE_DIR=${PWD}/install
export CCACHE=`which ccache`
export INSTALL_PREFIX=${PWD}/install
#FIXME export TAOX11_ROOT=${INSTALL_PREFIX}
export TAOX11_ROOT="$HOME/Workspace/cpp/axcioma/taox11"

export LD_LIBRARY_PATH=${STAGE_DIR}/lib:/usr/local/lib:/usr/lib
export DYLD_LIBRARY_PATH=${LD_LIBRARY_PATH}
export PATH="${STAGE_DIR}/bin:${HOME}/.local/bin:/usr/local/bin:/usr/bin"

#FIXME export RIDL_ROOT=${INSTALL_PREFIX}/lib/ridl
export RIDL_ROOT="$HOME/Workspace/cpp/axcioma/ridl/lib"
export RIDL_BE_PATH=:${TAOX11_ROOT}
export RIDL_BE_SELECT=c++11

# layout python3
